{% extends 'base_generic.html' %}
{% block content %}
    <h1>Delete Author: {{ author }}</h1>
    {% if author.book_set.all %}
        <p>You can't delete the author until all these books are deleted:</p>
        <ul>
            {% for book in author.book_set.all %}
                <li><a href="{% url 'book-detail' book.pk %}">{{ book }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
       <p>Are you sure you want to delete the author?</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <input type="submit" value="Confirm">
        </form>
    {% endif %}
{% endblock %}